@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  font-size: 16px;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--color-primary);

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  min-height: calc(100dvh - 2rem);
  width: 100%;
  padding: 1rem;
}

.secondary {
  color: var(--color-secondary);
}

img {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Firefox */
  pointer-events: none; /* Prevents interaction like dragging */
  -webkit-user-drag: none; /* Prevents dragging in WebKit browsers */
}

.image {
  opacity: 1;
  transition: transform .7s 0.7s ease, opacity .7s 0.7s ease;
}

.image.preload {
  transform: translateY(2rem);
  opacity: 0;
}

::cue {
  display: none !important;
  visibility: hidden !important;
  color: transparent !important;
  background-color: transparent !important;
  background: none !important;
}

/* Add custom focus styles for better accessibility */
:focus-visible {
  outline: 3px dashed var(--color-primary);
  outline-offset: 4px;
  border-radius: 4px;
  transition: outline-color 0.2s ease-in-out, outline-offset 0.2s ease-in-out;
}

/* For buttons specifically */
button:focus-visible {
  outline: none; /* Remove default browser outline */
  box-shadow: 0 0 6px 2px var(--color-primary); /* Glowing effect around the button */
  border-radius: 6px;
  background-color: var(--color-primary);
  color: var(--background-color);
  transition: box-shadow 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

.animated-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.animated-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.animated-link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
