@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html {
  scroll-behavior: smooth;
  background-color: #060606;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #060606;
  color: #FFF;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  min-height: calc(100dvh - 2rem);
  width: 100%;
  padding: 1rem;
}

.secondary {
  color: var(--color-secondary);
}

.image {
  opacity: 1;
  transition: transform .7s 0.7s ease, opacity .7s 0.7s ease;
}

.image.preload {
  transform: translateY(2rem);
  opacity: 0;
}

::cue {
  display: none !important;
  visibility: hidden !important;
  color: transparent !important;
  background-color: transparent !important;
  background: none !important;
}
